@import "~@flaticon/flaticon-uicons/css/all/all";

.css-x9tfml-MuiStack-root {
  /* filter: brightness(0.3);
  width: 50px; */
}

.css-x9tfml-MuiStack-root:hover{
    /* animation: logoFade 1s ease-in-out both; */
}

@keyframes logoFade {
  0% {
    filter: brightness(0.3);
    width: 50px;
  }
  100% {
    filter: brightness(1);
    width: 180px;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0
  }
  
  100% {
    opacity: 1
  }
}

.css-1yc58ky-MuiStack-root{
  animation: fade-in 2s forwards;
}

.css-15umtxl-MuiPickersArrowSwitcher-root{
  display: none !important;
}

body{
  overflow: auto !important;
  display: flex !important;
  height: 100vh !important;
  width: 100vw !important;
  align-items: flex-start;
  justify-content: center;
}

.App {
  text-align: center;
  justify-content: flex-start;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fi-br-menu-burger:hover{
  filter: invert(1);
  cursor: pointer
}
